@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
// FONTS
$universalFont: 'Poppins', sans-serif;

// TEXT SIZING
$tittleSize: 4.2rem;
$subtittleSize: 3rem;
$parrafSize: 1.9rem;
$navSize: 1.2rem;
$formSize: 2rem;
$h3Size: 2.5rem;
$h4Size: 2.2rem;



// FONT WEIGHT
$bold: 500;
$regular: 400;
$light: 300;