//ANIDACION

footer{
	.bg-linear-gradient{
		background: rgb(182,182,182);
		background: linear-gradient(150deg, rgba(182,182,182,1) 0%, rgba(199,199,199,1) 64%, rgba(236,68,16,1) 100%);
	}

	section p .textRegular{
		font-weight: $regular;
		
		.imgFooter{
			width: 35px;
		}
	}



	section p .textLight{
		font-weight: $light;

		.textBold{
			font-weight: $bold;
		}

	}
} 
