// VARIABLES GLOBALES
$bodyColor: rgba(245, 245, 245, 1.0);
$tittleColor: rgb(255, 74, 17);
$otrosColor: rgb(2, 2, 2);
$navColor: linear-gradient(150deg, rgba(182,182,182,1) 0%, rgba(199,199,199,1) 64%, rgba(236,68,16,1) 100%);

